absl-py==0.15.0
asn1crypto==0.24.0
astor==0.8.1
audioset-download==1.0
backports.functools-lru-cache==1.6.4
backports.weakref==1.0.post1
beautifulsoup4==4.9.3
certifi==2021.10.8
chardet==4.0.0
contextlib2==0.6.0.post1
cryptography==2.1.4
decorator==4.1.2
easydict==1.10
enum34==1.1.10
filelock==3.2.1
funcsigs==1.0.2
futures==3.3.0
gast==0.5.3
gdown==4.4.0
google-pasta==0.2.0
graphviz==0.8.4
grpcio==1.41.1
gyp==0.1
h5py==2.10.0
html5lib==0.999999999
idna==2.10
importlib-resources==3.3.1
ipaddress==1.0.17
joblib==0.14.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
keyring==10.6.0
keyrings.alt==3.0
lxml==4.2.1
Markdown==3.1.1
mock==3.0.5
mutagen==1.43.1
mxnet-cu101==1.5.0
numpy==1.16.6
olefile==0.45.1
pandas==0.24.2
pathlib2==2.3.7.post1
Pillow==5.1.0
protobuf==3.18.0
pycrypto==2.6.1
pycryptodome==3.20.0
pycurl==7.43.0.1
pygobject==3.26.1
pyliblzma==0.5.3
PySocks==1.7.1
pysqlite==1.0.1
python-dateutil==2.9.0.post0
pytz==2024.1
pyxdg==0.25
requests==2.27.1
rpm==4.14.1
scandir==1.10.0
scipy==1.2.3
SecretStorage==2.3.1
singledispatch==3.7.0
six==1.16.0
sklearn==0.0.post2
soupsieve==1.9.6
tensorboard==1.14.0
tensorflow==1.14.0
tensorflow-estimator==1.14.0
tensorflow-gpu==1.14.0
termcolor==1.1.0
tqdm==4.64.0
typing==3.10.0.0
urlgrabber==3.10.2
urllib3==1.26.9
virtualenv==15.1.0
webencodings==0.5
Werkzeug==1.0.1
wrapt==1.14.1
yt-dlp==2021.6.1
yum-metadata-parser==1.1.4
zipp==1.2.0
